{% extends "layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<div class="about_block">
    <h1>About the Course</h1>
    <p>This course is designed to provide you with a comprehensive understanding of the principles, practices, and tools needed to develop cloud-native applications.</p>

    <h2>Course Objectives</h2>
    <p>By the end of this course, students should be able to:</p>
    <ul>
        <li>Understand the basics of Cloud-Native</li>
        <li>Implement and manage Microservices</li>
        <li>Work with Container Orchestrators</li>
        <li>Create a scalable applications</li>
    </ul>

    <h2>Instructor</h2>
    <p>The course is taught by Ramy Mohamed. Ramy is passionate about teaching and is looking forward to sharing his knowledge with students in this course.</p>
</div>
{% endblock %}